.navbarContainer {
  background: rgba(0, 0, 0, 0.144);
  min-height: 10vh;
  color: rgba(255, 25, 25, 0.801);
  padding: 0.5rem;

  .navbar {
    max-width: 144rem;
    min-height: 10vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1 {
      text-align: center;
      font-size: 2.3rem;
      flex-basis: 20rem;
    }
    .search-component {
      flex: basis 50rem;
    }
  }
}

@media (max-width: 750px) {
  .navbarContainer {
    .navbar {
      justify-content: center;
      padding: 2rem;
      h1 {
        padding-bottom: 1rem;
      }
    }
  }
}
